p,
h2{
  text-align: justify;
  padding: 0 5px 0 5px;
  margin-left: 5px;
  margin-right: 5px;
}
h2{
  padding: 0 15px 0 15px;
}
span{
  font-weight: bold;
}
a{
  text-decoration: none;
}
.formatarHome
{
  text-align: center;
  line-height: 1.9;
}
#span{
  color: red;
  background-color: lime;
}
.formatosi{
  margin: 1px;
  padding: 1px;
  background-color: #ECF0F5;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}
.insertImagem{
  background-image: url('../img/EEufs.jpg');
  background-repeat: round;
  background-size: 100%;
  width: 1150px;
  height: 170px;
  float: right;
  position: relative;
  margin-top: -170px;
  /* margin-right: -6px; */
}
.fixador{
  display: block;
}
/* .encapsulamento{
  text-align: justify; /*tudo que esta dentro do body
} */

.vertical-menu {
    width: 215px; /* comprimento da barra azul */
}
  
.vertical-menu a {
  background-color: #1A2226; /*  cor do fundo do menu  #eee*/
  color: whitesmoke; /* cor da fonte */
  display: block; /* fazer os links ficarem na vertical */
  padding: 12px; /* padding interno que pode aumentar o tamanho do botao */
  text-decoration: none; /* remove o underline dos links */
}
  
.vertical-menu a:hover {
  background-color: #3C8DBC; /* mudanca da cor do elemento */
}

/* .vertical-menu a.active {
  background-color: #1E282C;
  color: white;
}  para teste */

.headerEntr {
    float: center;
    background-color: #3C8DBC;
    width: 98%;
    height: 30px;
    margin: 1px 0 1px 0;
    padding: 1%;
}
.aLogin a{ /* Menu login superior */
  color: white;
  font-size: 20px;
  float: right;
  text-align: right;
  text-decoration: none;
  padding-right: 50px;
  padding-top: 5px;
}
.aLogin a:hover{
  color: black;
}
.formLogin{ /* login email */
  margin-left: 40%;
}
.footer{
  text-align: center;
}