.formatosi{
  background-color: #ECF0F5;
  color: black;
  background-image: url ("public\\img\\EEufs.jpg");

}
.encapsulamento{
  text-align: justify; /*tudo que esta dentro do body*/
}

.vertical-menu {
    width: 200px; /* comprimento da barra azul */
  }
  
  .vertical-menu a {
    background-color: #1A2226; /*  cor do fundo do menu  #eee*/
    color: whitesmoke; /* cor da fonte */
    display: block; /* fazer os links ficarem na vertical */
    padding: 12px; /* padding interno que pode aumentar o tamanho do botao */
    text-decoration: none; /* remove o underline dos links */
  }
  
  .vertical-menu a:hover {
    background-color: #3C8DBC; /* cor quando passa o mouse por cima */
  }
  
  /* .vertical-menu a.active {
    background-color: #1E282C;
    color: white;
  }  para teste */

.headerEntr {
    float: center;
    background-color: #3C8DBC;
    width: 100%;
    height: 30px;
    margin: 2px 0 2px 0;
    padding: 1%;
}
.aLogin a{
  float: right;
  text-align: right;
  text-decoration: none;
  padding-right: 50px;
  padding-top: 5px;
}
/* form-login.balde.php */
.formLogin{
  margin-left: 40%;
  margin-top: -168px;
  padding: 5px;
  /* position: fixed; */
  /* background-color: red; */
  padding-bottom: 30%;
}
.footer{
  text-align: center;
  /* margin-top: 20%; */
}